<div class="col-md-4">
                        <!--widget start-->
  <aside class="profile-nav alt">
    <header class="panel-heading">&nbsp
      <input>
        <span class="tools pull-right">
            <a href="javascript:;" class="fa fa-plus"></a>
        </span>
      </header>
      <section class="panel">
        <div id='results'></div>
          <div class="user-heading alt gray-bg">
              <a >
                 <div class='stock-logo'>
                  <img alt="" src=<%= current_user.stocks[-1].logo %>>
                </div>
              </a>
              <h2><%= current_user.stocks[-1].ticker %></h2>
              <p><%= current_user.stocks[-1].name %></p>
          </div>
        <div class="stock-body">
        <ul class="nav nav-pills nav-stacked">
        <% current_user.stocks.reverse.each do |stock| %>
              <li data-url=<%= stock.logo || 'https://cdn4.iconfinder.com/data/icons/aiga-symbol-signs/441/aiga_cashier-512.png' %> data-id=<%= stock.id %>>
                <a>
                  <i img src=""
                  ></i> <%= stock.ticker %> | <%= stock.name %>
                  <span class="badge label-success pull-right r-activity">10</span>
                </a>
              </li>
            <% end %>
          </ul>
        </div>
      </section>
  </aside>
  <!--widget end-->

</div>
