<div class='row'>
  <div class="stocktwits"><%= render 'partials/sidebar' %></div>
  <%= render 'partials/stock_list' %>
  <%= render 'partials/stockcharts' %>
  <%= render 'partials/bitcoin' %>
  <%= render 'partials/portfolio' %>
</div>
