<!DOCTYPE html>
<html>
  <head>
    <title>HipMoney</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
<body>
  <section id="container" class="open-right-panel">
  <%= render 'partials/navbar' %>
  <%= render 'partials/sidebar' %>
  <%= yield %>
</section>
</body>
</html>
